<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimientos</title>
    <link rel="stylesheet" href="modal.css">
</head>

<body>
    <form action="POST" id="form-movimiento">
        <input type="date" name="fecha_hora" id="fecha_hora" class="fecha_hora">
        <select name="categorias" id="categorias">
            <option value=-1>-</option>
            <option value=1>Mercado</option>
            <option value=2>Personal</option>
            <option value=3>Impuestos</option>
            <option value=3>Transporte</option>
        </select>
        <select name="tipo" id="tipo">
            <option value=-1>-</option>
            <option value=1>Efectivo</option>
            <option value=2>Mercado Pago</option>
            <option value=3>Banco por homebanking</option>
        </select>
        <input type="number" name="monto" id="monto" class="monto">
        <textarea name="descripcion" id="descripcion" cols="30" rows="10" class="descripcion"></textarea>
        <button type="submit">Cargar</button>
    </form>
    <script src="modal.js"></script>
</body>

</html>